@model Pizza
<div class="containerr">
    <div class="card" style="width: 18rem;">
        <img src=@Model.Image/>
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.Price$</p>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

</div>